<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

*   Run the ETL process
*   Extract bank and market cap data from the JSON file `bank_market_cap.json`
*   Transform the market cap currency using the exchange rate data
*   Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

## Imports

Import any additional libraries you may need here.

In [2]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [3]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-11-29 06:16:47--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: 'bank_market_cap_1.json'

     0K ..                                                    100%  358M=0s

2021-11-29 06:16:48 (358 MB/s) - 'bank_market_cap_1.json' saved [2815/2815]

--2021-11-29 06:16:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: 'bank_market_cap_2.json'

     0K .                                                     100%  175M=0s

2021-11-29 06:16:48 (175 MB/s) - 'bank_market_cap_2.json' saved [1429/1429]

--2021-11-29 06:16:48--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 198.23.119.245
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|198.23.119.245|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: 'exchange_rates.csv'

     0K                                                       100% 77.1M=0s

2021-11-29 06:16:49 (77.1 MB/s) - 'exchange_rates.csv' saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [4]:
def extract_from_json(file_to_process=''):
    """
    Extracts a JSON file to a dataframe.

    Parameters
    ----------
    file_to_process (str) : json file name (default '')
    
    Returns
    -------
    dataframe (Pandas dataframe) : dataframe of json file
    
    """
    # read json to dataframe
    dataframe = pd.read_json(file_to_process)
    
    #return dataframe
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [5]:
# create list of columns for dataframe
columns=['Name','Market Cap (US$ Billion)']

In [6]:
def extract(fname='', cols=[]):
    """
    Extracts a JSON file to a dataframe.

    Parameters
    ----------
    fname (str) : json file name (default '')
    cols (list) : list of column names (default [])
    
    Returns
    -------
    dataframe (Pandas dataframe) : dataframe of json file
    
    """
    
    # create an empty data frame to hold extracted data
    df = pd.DataFrame(columns=cols)
    
    # append json file and return dataframe
    return df.append(extract_from_json(fname), ignore_index=True)

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [7]:
"""Get GBP Rate"""

# add exchange rates to a dataframe
df_rates = pd.read_csv('exchange_rates.csv', index_col=0)
# store GBP rate to var
exchange_rate = df_rates.loc['GBP', 'Rates']
# verify
display(exchange_rate)

0.7323984208000001

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1.  Changes the `Market Cap (US$ Billion)` column from USD to GBP
2.  Rounds the Market Cap (US$ Billion)\` column to 3 decimal places
3.  Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [8]:
def transform(df=None, rate=1, old_col='', new_col='new_column'):
    """
    Multiplies dataframe column by rate and changes name.

    Parameters
    ----------
    df (Pandas dataframe) : dataframe to be transformed (default None)
    rate (int, float)     : rate to multiply by (default 1)
    old_col (str)         : old column name (default '')
    new_col (str)         : new column name (default 'new_column')

    Returns
    -------
    df (Pandas dataframe) : transformed dataframe
    
    """
    #change market cap column from USD to GBP
    df[new_col] = df[old_col] * rate
    
    # round market cap column to 3 decimals
    df[new_col] = round(df[new_col], 3)
    
    # rename market cap (us billion) to market cap (gbp billion)
    df.drop([old_col], axis=1, inplace=True)
    
    return df

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [9]:
def load(df=None, fname=''):
    """
    Loads a dataframe to a csv.

    Parameters
    ----------
    df (Pandas dataframe) : dataframe to write (default None)
    fname (str)           : name of csv file (default '')
    
    """
    df.to_csv(fname, index=False)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [10]:
def log(msg='no message passed', fname='log.txt'):
    """
    Logs timestamped messages to a file.

    Parameters
    ----------
    msg (str)   : the message (default 'no message passed')
    fname (str) : log file name (default 'log.txt')
    
    """
    timestamp_format = '%H:%M:%S--%h-%d-%Y' #Hour-Minute-Second-Month_Name-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open(fname,"a") as f:
        f.write(timestamp + ',' + msg + '\n')

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [11]:
# Write your code here
log('ETL job started')
log('Extract phase started')

### Extract

<code>Question 2</code> Use the function <code>extract</code>, and print the first 5 rows, take a screen shot:

In [12]:
# Call the function here
json_name = 'bank_market_cap_1.json'
cols=['Name','Market Cap (US$ Billion)']
df = extract(json_name, columns)
# Print the rows here
df.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [13]:
# Write your code here
log('Extract phase Ended')

### Transform

Log the following  <code>"Transform phase Started"</code>

In [14]:
# Write your code here
log('Transform phase Started')

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [15]:
# Call the function here
old_col = 'Market Cap (US$ Billion)'
new_col = 'Market Cap (GBP$ Billion)'
df = transform(df, exchange_rate, old_col, new_col)
# Print the first 5 rows here
df.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

Log your data <code>"Transform phase Ended"</code>

In [16]:
# Write your code here
log('Transform phase Ended')

### Load

Log the following `"Load phase Started"`.

In [17]:
# Write your code here
log('Load phase Started')

Call the load function

In [18]:
# Write your code here
write_name = 'bank_market_cap_gbp.csv'
load(df, write_name)

Log the following `"Load phase Ended"`.

In [19]:
# Write your code here
log('Load phase Ended')

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).